.rr{
    text-align: center;
    color:#343A40 ;
    font-size: 75px;
    color: rgb(10, 172, 37);
    font-family: cursive;
    font-weight: bold;
}

.container-text-left {
    text-align: center;
    color: white;
    font-family: cursive;
}

.g{
    color: white;
    text-align: center;
}

  